
.cont-poster{
    width: 100%;
    height: 80%;
    overflow: hidden;
    position: relative;
}

.control-dots{
padding-bottom: 100px;

}


.slide{
    position: absolute;
    z-index: 10;
    height: 880px;
    margin-bottom: 100px;
}

.poaterImage_overlay{
    position: absolute;
    bottom: 0px;
}